<html>

<head>
  <title> Angular App - Homemade Pollster </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-app="homemadePolls">
<div class="">
  <nav class="navbar navbar-primary" ng-controller="NavCtrl">
    <h2 class="navbar-text pull-left">HomeMade Pollster</h2>
    <ul class="nav nav-pills pull-right" >
      <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
      <li ng-show="isLoggedIn()"><a href="/#/home" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      <li><a href="/#/home">Home</a></li>
      <li ng-show="isLoggedIn()"><a href="/#/editPoll/{{user}}">My Polls</a></li>
    </ul>
  </nav>
</div>

<div class="appContainer">
  <ui-view class="main"></ui-view>
</div>

</body>

</html>
